.square-inactive {
    background-color: #7d7d7d;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-inactive span {
    display: none;
}

.square-active {
    background-color: #fff;
}

.square-active span {
    display: block;
}

